@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
        @apply border-none;
    }
    input {
        @apply border-none
    }
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
} 